@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        TODO:
            more by sorting by categories (oldest newest)
            Also need to do, wishlisting, view history (make use of sessions, notification if newest cheapest?) and user account authentication authoirization elsewhere in the project
            Also Potential Sorting listings by price having cheapest first etc. (Discount System? - Checkbox for discount put in discount amount otherwise discount price = current price)
        More interesting visual backgrounds than default black and white?
        If Product in Wishlist Put a Star Next To It and Colour the Card Yellow On Product Pages
        </a>.
    </p>
</div>
