@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        TODO: ADD  search functionality and search pages searching by keyword
            more by sorting by categories (oldest newest)
            Also need to do, wishlisting, view history (make use of sessions, notification if newest cheapest?) and user account authentication authoirization elsewhere in the project
            Also Potential Sorting listings by price having cheapest first etc. (Discount System? - Checkbox for discount put in discount amount otherwise discount price = current price)
        More intresting visual backgrounds than default black and white?
        </a>.
    </p>
</div>
