@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        TODO:
            more by sorting by categories (oldest newest)
             (make use of sessions, notification if newest cheapest?) 
             (Discount System? - Checkbox for discount put in discount amount otherwise discount price = current price)
             More interesting visual backgrounds than default black and white?
        </a>.
    </p>
</div>
